.container{
  display: flex;
  flex-direction:column;
  height: 100vh;
}
.header{
  flex:15%;
  background-color:lightgray;
  background: urlhttps://github.com/phuongvy1302nvq-byte/README.md/blob/69cbf5085ccff4b604cf713e7d4618e4eb6e533e/cuapvne.jpg
}
.menu{
flex:5%;
  background-color:lightpink;
  color: white;
  display: flex;
}
.menu hover{
  background-color:darkpink;
  color:gray;
}
.menu a{
  padding: 15px 20px;
}
.content{
flex:70%;
  background-color:lightgreen;
.content iframe{
  flex:1;
  border:none;
  width:100%;
  height:100%;
}
.footer{
flex:10%;
  background-color:lightyellow;
}
h1 {
  color: red;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
color: tomato;
font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
color: black; 
  font-size: 15pt; 
  top-margin: 6pt;
}
